doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title Home4You - Validar Aluno
    // Custom fonts for this template
    link(href='vendor/fontawesome-free/css/all.min.css', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i', rel='stylesheet')
    // Custom styles for this template
    link(href='css/sb-admin-2.min.css', rel='stylesheet')
    link(href='css/style.css', rel='stylesheet')
  body#page-top
    // Page Wrapper
    #wrapper
      // Sidebar
      ul#accordionSidebar.navbar-nav.bg-gradient-primary.sidebar.sidebar-dark.accordion
        // Sidebar - Brand
        a.sidebar-brand.d-flex.align-items-center.justify-content-center(href='/menuAdmin')
          .sidebar-brand-icon
            img(src='img/Home4U_Logotipo_PNG.png', width='50px')
          .sidebar-brand-text.mx-3 Home4You
        // Divider
        hr.sidebar-divider.my-0
        // Nav Item - Dashboard
        li.nav-item
          a.nav-link(href='/menuAdmin')
            i.fas.fa-fw.fa-tachometer-alt
            span Dashboard
        // Divider
        hr.sidebar-divider
        // Heading
        .sidebar-heading Interface
        // Nav Item - Residências Collapse Menu
        li.nav-item
          a.nav-link.collapsed(href='#', data-toggle='collapse', data-target='#collapseTwo', aria-expanded='true', aria-controls='collapseTwo')
            i.fas.fa-fw.fa-home
            span Residências
          #collapseTwo.collapse(aria-labelledby='headingTwo', data-parent='#accordionSidebar')
            .bg-white.py-2.collapse-inner.rounded
              h6.collapse-header Ações
              a.collapse-item(href='/adminAdicionarResidencias') Adicionar
              a.collapse-item(href='/adminVerResidencias') Visualizar
        // Nav Item - Funcionários Collapse Menu
        li.nav-item
          a.nav-link.collapsed(href='#', data-toggle='collapse', data-target='#collapseUtilities', aria-expanded='true', aria-controls='collapseUtilities')
            i.fas.fa-fw.fa-wrench
            span Funcionários
          #collapseUtilities.collapse(aria-labelledby='headingUtilities', data-parent='#accordionSidebar')
            .bg-white.py-2.collapse-inner.rounded
              h6.collapse-header Ações
              a.collapse-item(href='/adminCriarFuncionario') Adicionar
              a.collapse-item(href='/adminRemoverFuncionario') Remover
        // Nav Item - Alunos Collapse Menu
        li.nav-item
          a.nav-link.collapsed(href='#', data-toggle='collapse', data-target='#collapseAlunos', aria-expanded='true', aria-controls='collapseAlunos')
            i.fas.fa-fw.fa-graduation-cap
            span Alunos
          #collapseAlunos.collapse(aria-labelledby='headingAlunos', data-parent='#accordionSidebar')
            .bg-white.py-2.collapse-inner.rounded
              h6.collapse-header Ações
              a.collapse-item(href='/adminValidarAluno') Validar Registo
              a.collapse-item(href='/adminValidarPedido') Ver Pedidos
        // Divider
        hr.sidebar-divider.d-none.d-md-block
        // Sidebar Toggler (Sidebar)
        .text-center.d-none.d-md-inline
          button#sidebarToggle.rounded-circle.border-0
        br
        br
        br
        a#logout.btn.btn-primary(href='/login')
          button.btn.btn-primary(type='button') LogOut
      // End of Sidebar
      // Content Wrapper
      #content-wrapper.d-flex.flex-column
        // Topbar
        nav.navbar.navbar-expand.navbar-light.bg-white.topbar.mb-4.static-top.shadow
          // Page Heading
          h1.h3.mb-2.text-gray-800 Validar Aluno
        // End of Topbar
        // Main Content
        #content
          // Begin Page Content
          .container-fluid
            // Container Formulario
            .container
              .row
                .col-lg-2
                .col-lg-8
                  ul#display.list-group
                .col-lg-2
              br
              .row
                .col-lg-2
                .col-lg-8
                  #message.alert(role='alert')
                .col-lg-2
            // End Container Formulario
            // End of Main Content
            // End of Content Wrapper
            // End of Page Wrapper
            // Scroll to Top Button
            a.scroll-to-top.rounded(href='#page-top')
              i.fas.fa-angle-up
            // Logout Modal
            #logoutModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
              .modal-dialog(role='document')
                .modal-content
                  .modal-header
                    h5#exampleModalLabel.modal-title
                      | Ready to Leave?
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                      span(aria-hidden='true') ×
                  .modal-body
                    | Select "Logout" below if you are ready to end your current
                    | session.
                  .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal')
                      | Cancel
                    a.btn.btn-primary(href='/login') Logout
            // Bootstrap core JavaScript
            script(src='vendor/jquery/jquery.min.js')
            script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
            // Core plugin JavaScript
            script(src='vendor/jquery-easing/jquery.easing.min.js')
            // Custom scripts for all pages
            script(src='js/sb-admin-2.min.js')
            // Page level plugins
            script(src='vendor/chart.js/Chart.min.js')
            // Page level custom scripts
            script.
                $(document).ready(() => {
                const display = $("#display");
                const form = $("#form");
                const message = $("#message");
                message.hide();
                const getTodos = () => {
                    fetch("/getAlunosPorValidar", {
                        method: "get"
                    }).then(response => {
                        return response.json();
                    }).then(data => {
                        displayTodos(data);
                    });
                };
                getTodos();
                const validaAluno = (todo, listItemID, validaID) => {
                    let validaBtn = $(`#${validaID}`);
                    validaBtn.click(() => {
                        fetch(`/validaAluno/${todo.nr_estudante}`, {
                        method: "put"
                        }).then((response) => {
                            return response.json();
                        }).then((data) => {
                            if (data.ok == 1) {
                                $(`#${listItemID}`).remove();
                            }
                        });
                        location.reload();
                    });
                }
                const invalidaAluno = (todo, listItemID, invalidaID) => {
                    let invalidaBtn = $(`#${invalidaID}`);
                    invalidaBtn.click(() => {
                        fetch(`/invalidaAluno/${todo.nr_estudante}`, {
                          method: "put"
                        }).then((response) => {
                            return response.json();
                        }).then((data) => {
                            if (data.ok == 1) {
                                $(`#${listItemID}`).remove();
                            }
                        });
                        location.reload();
                    });
                }
                const buildIDS = func => {
                    return {
                        validaID: "valida_" + func.nr_estudante,
                        invalidaID: "invalida_" + func.nr_estudante,
                        listItemID: "listItem_" + func.nr_estudante,
                        todoID: "todo_" + func.nr_estudante
                    };
                }
                const buildTemplate = (todo, ids) => {
                    return `<li class="list-group-item" id="${ids.listItemID}">
                        <div class="row">
                        <div class="col-md-4">
                        <div  id="${ids.todoID}">${todo.nome}</div>
                        <div  id="${ids.todoID}">${todo.nr_estudante}</div>
                        </div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4 text-right">
                        <button type="button" class="btn btn-outline-success" id="${ids.validaID}">Validar</button>
                        <button type="button" class="btn btn-outline-danger" id="${ids.invalidaID}">Invalidar</button>
                        </div>
                        </div>
                        </li>`;
                }
                const displayTodos = data => {
                    data.forEach(aluno => {
                        let ids = buildIDS(aluno);
                        display.append(buildTemplate(aluno, ids));
                        validaAluno(aluno, ids.listItemID, ids.validaID);
                        invalidaAluno(aluno, ids.listItemID, ids.invalidaID);
                    });
                }
                });