doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title Home4You
    // Custom fonts for this template
    link(href='vendor/fontawesome-free/css/all.min.css', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i', rel='stylesheet')
    // Custom styles for this template
    link(href='css/sb-admin-2.min.css', rel='stylesheet')
    link(href='css/style.css', rel='stylesheet')
  body#page-top
    // Page Wrapper
    #wrapper
      // Sidebar
      ul#accordionSidebar.navbar-nav.bg-gradient-primary.sidebar.sidebar-dark.accordion
        // Sidebar - Brand
        a.sidebar-brand.d-flex.align-items-center.justify-content-center(href='/')
          .sidebar-brand-icon
            img(src='img/Home4U_Logotipo_PNG.png', width='50px')
          .sidebar-brand-text.mx-3 Home4You
        // Divider
        hr.sidebar-divider.d-none.d-md-block
        // Sidebar Toggler (Sidebar)
        .text-center.d-none.d-md-inline
          button#sidebarToggle.rounded-circle.border-0
        br
        br
        br
        a.btn.btn-primary(href='/')
          button.btn.btn-primary(type='button') LogIn
      // End of Sidebar
      // Content Wrapper
      #content-wrapper.d-flex.flex-column
        // Main Content
        #content
          // Topbar
          nav.navbar.navbar-expand.navbar-light.bg-white.topbar.mb-4.static-top.shadow
            // Page Heading
            h1.h3.mb-2.text-gray-800 Aluno
          // End of Topbar
          // Begin Page Content
          .container-fluid
            // Page Heading
            h1.h3.mb-2.text-gray-800.text-center Bem-Vindo!
            // Content Row
            .row
              p.text-justify.text-center.padding Caro aluno,
              p.text-justify.text-center.padding
                | Sê bem-vindo à plataforma de gestão de residências
                | da tua
                | universidade!
                | Infelizmente, o teu registo foi considerado invalido por um dos funcionários da universidade
                | e
                | por enquanto, não podes ter acesso a esta plataforma.
              p.text-center.padding.text-center.padding
                | Para conseguires que esta decisão seja
                | alterada podes-te dirigir aos serviços académicos da tua Universidade!
            // End of Main Content
            img.imgHome(src='img/Home4U_Logotipo_PNG.png')
          // End of Content Wrapper
          // End of Page Wrapper
          // Scroll to Top Button
          a.scroll-to-top.rounded(href='#page-top')
            i.fas.fa-angle-up
          // Logout Modal
          #logoutModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  h5#exampleModalLabel.modal-title Ready to Leave?
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                  | Select "Logout" below if you are ready to end your current session.
                .modal-footer
                  button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
                  a.btn.btn-primary(href='/') Logout
          // Bootstrap core JavaScript
          script(src='vendor/jquery/jquery.min.js')
          script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
          // Core plugin JavaScript
          script(src='vendor/jquery-easing/jquery.easing.min.js')
          // Custom scripts for all pages
          script(src='js/sb-admin-2.min.js')
          // Page level plugins
          script(src='vendor/chart.js/Chart.min.js')
          // Page level custom scripts
