doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='')
  title Home4You
  // Custom fonts for this template
  link(href='vendor/fontawesome-free/css/all.min.css' rel='stylesheet' type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i' rel='stylesheet')
  // Custom styles for this template
  link(href='css/sb-admin-2.min.css' rel='stylesheet' )

body.bg-gradient-primary
  .container
    // Outer Row
    .row.justify-content-center
      .col-xl-10.col-lg-12.col-md-9
        .card.o-hidden.border-0.shadow-lg.my-5
          .card-body.p-0
            // Nested Row within Card Body
            .row
              .col-lg-6.d-none.d-lg-block.bg-login-image
              .col-lg-6
                .p-5
                  .text-center
                    h1.h4.text-gray-900.mb-4 Home4You - Bem Vindo!
                  form.user(action='/login' method='POST' accept-charset="UTF-8" role="form" id="login")
                    .form-group
                      .form-label-group
                        select.form-control(placeholder="Tipo" type="tipo" name="tipo")
                          option(value= 1 ) Administrador
                          option(value= 2 ) Funcionario 
                          option(value= 3 ) Estudante
                    .form-group
                      input#exampleInputEmail.form-control.form-control-user(required autofocus type='text' aria-describedby='emailHelp' placeholder='Username...' name='username')
                    .form-group
                      input#exampleInputPassword.form-control.form-control-user( required type='password' placeholder='Password' name='pass')
                    button.btn.btn-primary.btn-block.btn-user(form="login" type="submit" value="Login")| Login
                    hr
                  a.btn(href='/registo' method='GET') Criar Registo de Estudante!
// Bootstrap core JavaScript
script(src='vendor/jquery/jquery.min.js')
script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
// Core plugin JavaScript
script(src='vendor/jquery-easing/jquery.easing.min.js')
// Custom scripts for all pages
script(src='js/sb-admin-2.min.js')
