doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='')
  title Home4You - Registo
  // Custom fonts for this template
  link(href='vendor/fontawesome-free/css/all.min.css' rel='stylesheet' type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i' rel='stylesheet')
  // Custom styles for this template
  link(href='css/sb-admin-2.min.css' rel='stylesheet')
body.bg-gradient-primary
    .container
        .card.o-hidden.border-0.shadow-lg.my-5
            .card-body.p-0
                // Nested Row within Card Body
                .row
                    .col-lg-5.d-none.d-lg-block.bg-register-image
                    .col-lg-7
                        .p-5
                            .text-center
                                h1.h4.text-gray-900.mb-4 Home4You - Cria uma Conta!
                                form#register.user(accept-charset='UTF-8' role='form' action='/registo' method='post')
                                    .form-group.row
                                        .col-sm-6.mb-3.mb-sm-0
                                            input#nr_estudante.form-control.form-control-user(type='text' placeholder='ID Aluno | Nº Mecanográfico' required='' name='nr_estudante')
                                        .col-sm-6
                                            input#nome.form-control.form-control-user(type='text' placeholder='Nome Aluno' required='' name='nome')
                                    .form-group
                                        input#email.form-control.form-control-user(type='email' placeholder='Email' required='' name='email')
                                    .form-group
                                        input#morada.form-control.form-control-user(type='text' placeholder='Morada' required='' name='morada')
                                    .form-group
                                        input#pass.form-control.form-control-user(type='password' placeholder='Password' required='' name='pass')
                                    .form-group
                                        select#curso.form-control(name='curso')
                                            option(value='LEI' selected='') Licenciatura em Eng. Inform&aacute;tica
                                            option(value='LCE') Licenciatura em Ci&ecirc;ncias Empresariais
                                            option(value='LSIRC')
                                                | Licenciatura em Seguran&ccedil;a Inform&aacute;tica em Redes de
                                                | Computadores
                                            option(value='LS') Licenciatura em Solicitadoria
                                    .form-group.row
                                        .col-sm-6.mb-3.mb-sm-0
                                            input#ano.form-control.form-control-user(type='number' placeholder='Ano' min='1' max='3' required='' name='ano')
                                        .col-sm-6
                                            input#data_nasc.form-control.form-control-user(type='date' name='data_nasc' min='1950-01-01' max='2018-12-31' required='')
                                    button.btn.btn-primary.btn-block.btn-user(form='register' type='submit') Registo
                                    hr
                            .text-center
                                a.small(href='/' method='GET') J&aacute; tens uma conta? Faz login!
// Bootstrap core JavaScript
script(src='vendor/jquery/jquery.min.js')
script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
// Core plugin JavaScript
script(src='vendor/jquery-easing/jquery.easing.min.js')
// Custom scripts for all pages
script(src='js/sb-admin-2.min.js')
