.apresResi{
    height: 50%;
    width: 100%;
    padding: 25px;
    margin: 25px;

    text-align: center;
}

.desc{
    display: block;
}

.textDesc{
    font-weight: bold;
}

.imageShow{
    width: 50%;
}

.padding{
    padding-left: 15px;
    padding-right: 15px;

    margin-left: 5%;
    margin-right: 5%;

    text-align: center;
}

.paddingLeft{
    margin-left: 35%;
    margin-bottom: 5%;
}

.imgHome{
    width: 30%;
    margin-left: 35%;

}